@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #39ff14;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}


.card-hover-effect {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(57, 255, 20, 0.3);
  transform: translate(-50%, -50%) scale(0);
  animation: grow 0.5s forwards;
  z-index: 0;
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(20);
    opacity: 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes spin-around {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .rotating-glow::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 250%;
    height: 250%;
    background: conic-gradient(
        from 180deg at 50% 50%,
        transparent 0%,
        #39ff14 50%,
        transparent 100%
    );
    filter: blur(40px);
    animation: spin-around 6s linear infinite;
    z-index: 0;
  }
}
